<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ITP Project</title>
    <!--  CSS -->
    <link href="../css/style.css" type="text/css" rel="stylesheet"/>
    <link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin' rel='stylesheet' type='text/css'>

    <!-- JS -->
    <script type="text/javascript" src="../js/init.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <style>
      .panel-primary{
        margin-top:-10%;
        padding:10px 0px;
        border:none;
        box-shadow: 0 0 20px #b5b7c0;
      }
      body{
        background-color: #e8eaf6;
      }
    </style>
  </head>
  <body>
    <div class="span1">
      <hr class="greenHead"></hr>
      <a href="../index.html" class="a admin">Go to report page</a>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="panel panel-primary">
              <hr class="greenLine"></hr>
              <legend class="roboto" style="margin:25px 0px;">
                <text style="margin-left:4%;">Admin authorization</text>
              </legend>
              <div class="panel-body">
                  <div class="form-group">
                      <p>Login</p>
                      <input type="text" id="login" class="inputLine form-control mult-choice" style="font-size:1.3em;" placeholder="Login" aria-describedby="basic-addon2" required>
                  </div>
                  <div class="form-group">
                    <p>Password</p>
                    <input type="password" id="pass" class="form-control mult-choice" style="font-size:1.3em;" aria-describedby="basic-addon2" placeholder="Password" required>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-default" style="padding:20px; font-size:1.4em;margin-top:40px;">Log in</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
