<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ITP Project</title>
    <!--  CSS -->
    <link href="../css/style.css" type="text/css" rel="stylesheet"/>
    <link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin' rel='stylesheet' type='text/css'>

    <!-- JS -->
    <script type="text/javascript" src="../js/add_fields.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <style>
      .panel-primary{
        margin-top:-10%;
        padding:10px 0px;
        border:none;
        box-shadow: 0 0 20px #b5b7c0;
      }
      body{
        background-color: #e8eaf6;
      }
    </style>
  </head>
  <body>
    <div class="span1">
      <hr class="greenHead"></hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="panel panel-primary">
              <hr class="greenLine"></hr>
              <legend class="roboto" style="margin:25px 0px;">
                <text style="margin-left:4%;">Innopolis annual unit report, 2017</text>
              </legend>
              <p class="roboto" style="background-color:#0F9D58; color:white; padding:5px; padding-left:4%;">End of report</p>
              <div class="panel-body">
                <p class="roboto" style="padding:20px;">Your answer has been recorded</p>
                <a href="../index.html" class="btn btn-default" style="margin-left:25px;padding:20px; font-size:1.4em;">Send another report</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
